<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Example</title>

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Web Starter Kit">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#2F3BA2">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.2.0/lodash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css"/>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>

<div class="container">

    <!-- Template for select type item -->
    <script id="title-list-template" type="text/x-handlebars-template">
        <div class="chooseFields">

            {{#each data}}
            <div class="list-titles-item">
                <div class="inline-block">
                    {{title}}
                </div>

                <div class="inline-block">
                    <select class="field-select" data-field="{{id}}" data-title="{{title}}">
                        <option>Select your option</option>
                        {{#each ../options}}
                            <option data-index="{{@index}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>

            </div>
            {{/each}}

            <button id="renderTable" class="btn btn-primary" type="button" >Render Table</button>
        </div>
    </script>

    <!-- Template for custom table -->
    <script id="table-custom-template" type="text/x-handlebars-template">
        <div data-component="table-custom">
            <div class="table-custom__navigation">
                <button class="btn btn-primary" data-table-custom="add-row" data-component="dialog" type="button">Add</button>
                <button class="btn btn-primary" data-table-custom="submit" type="button">Submit</button>
            </div>

            <table id="customUserTableFromCSV" class="table" data-component="table-custom">
                <thead>
                    <tr>
                        <%for(var i = 0; i < title.length; i++) { %>
                            <th data-table-custom="<%-title[i].id%>"><%-title[i].title%></th>
                        <% } %>
                        <th>
                            Edit/Remove
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <%for(var i = 0; i < data.length; i++) { %>
                        <tr data-index="<%-i%>">
                                <%for(var value in data[i]) { %>
                        <%if(value === "index") continue;%>
                        <td><%-data[i][value]%></td>
                    <% } %>
                    <td>
                        <button class="btn btn-primary" data-table-custom="edit-row" data-component="dialog" type="button">Edit</button>
                        <button class="btn btn-primary" data-table-custom="delete-row" type="button">Delete</button>
                    </td>
                </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </script>

    <script id="table-list" type="text/template">
        <div data-component="table-custom">
            <div class="table-custom__navigation">
                <button class="btn btn-primary" data-table-custom="add-row" data-component="dialog" type="button">Add</button>
                <button class="btn btn-primary" data-table-custom="submit" type="button">Submit</button>
            </div>

            <table id="customUserTableFromCSV" class="table" data-component="table-custom">
                <thead>
                <tr>
                    <%for(var i = 0; i < title.length; i++) { %>
                    <th data-table-custom="<%-title[i].id%>"><%-title[i].title%></th>
                    <% } %>
                    <th width="140">
                        Edit/Remove
                    </th>
                </tr>
                </thead>

                <tbody>
                <%for(var i = 0; i < data.length; i++) { %>
                <tr data-index="<%-i%>">
                    <%for(var j = 0; j < title.length; j++) { %>
                        <%if(data[i][title[j].id] === "index") continue;%>
                        <td><%-data[i][title[j].id]%></td>
                    <% } %>
                    <td>
                        <button class="btn btn-primary" data-table-custom="edit-row" data-component="dialog" type="button">Edit</button>
                        <button class="btn btn-primary" data-table-custom="delete-row" type="button">Delete</button>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </script>

    <div data-component="userUploadCSVFile">
        <label for="uploadFile">Add new list users</label>
        <input type="file" name="uploadFile" id="uploadFile"/>
    </div>
    <!-- end userUploadCSVFile -->
</div>

<script src="scripts/parseCSVFile.js"></script>
<script src="scripts/table-custom.js"></script>
<script src="scripts/dialog.js"></script>
<script src="scripts/main.js"></script>

</body>
</html>
